<html>
    <head>
        <script src="https://use.fontawesome.com/d34da651b6.js"></script>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="./css/layout.css">
        <link rel="icon" type="img/png" href="./images/favicon.png">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') %>
        <%- body %>
        <%- include('_footer') %>
        <%- script %>
    </body>
</html>